%form{action: "/#{idea.id}", method: "POST"}
  %p
    - if idea.id
      Edit your Idea:
    - else
      Your Idea:
  - if idea.id
    %input{name: "_method", type: "hidden", value: "PUT"}/
  %input{name: "idea[title]", type: "text", value: idea.title}/
  %input{name: "idea[created_at]", type: "hidden", value: idea.created_at}/
  %br/
  %textarea{name: "idea[description]"}= idea.description
  %br/
  %input{type: "submit"}/
